.clearBtn{
    color: white;
    border: none;
    margin-left: 40px;
    background-color: purple;
    height: 20px;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;

}
.clearBtn:hover{
    background-color: rgb(118, 12, 100);
}
.heartIcon {
    border: none;
}
.emptyMessage{
    color: red;
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}