.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  .loading {
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  }
  
  .ProductImg {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;  
    object-position: center; 
  }
  
  .card h3 {
    font-size: 1.25rem;
    margin: 15px;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #16679d; 
    text-decoration-thickness: 2px;
  }
  
  .card-description {
    font-size: 0.95rem;
    color: #666;
    padding: 0 15px;
    margin: 10px 0;
    line-height: 1.5;
    height: 80px; 
  
  }
  
  .card p {
    font-size: 1rem;
    margin: 10px 15px 20px;
    font-weight: bold;
    color: #444;
  
    &:last-child {
      margin-bottom: 15px;
    }
  }

  .heartIcon {
   margin-left: 80%;
   border: none;
   background-color: white;
   margin-top: 20px;
   
  }

  
  @media only screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
    }
  
    .searchSort {
      flex-direction: column;
    }
  }
  